@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-main: #141414;
  --color-main-light: #292929;
  --color-focus: #505050;
  --color-active-background: #3e6fff;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-medium: #a0a0a0;
  --color-medium-light: #dddddd;
  --color-error: #eb4808;

  --animation-speed: 0.2s;
  --animation-speed-loading: 1.5s;

  --font-main: 'Poppins', sans-serif;
}

body {
  background-color: var(--color-main);
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
}

.app-container {
  display: flex;
  flex-direction: row;
}

.main-view {
  width: fit-content;
}

/* NAVBAR */
.navbar {
  height: 100vh;
  width: 120px;
  border-right: 1px solid var(--color-main-light);
  position: fixed;
}

.navbar__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar__content a {
  color: var(--color-medium);
  text-decoration: none;
}

.navbar__link {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin: 15px 0px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--animation-speed);
}

.navbar__link--selected {
  background-color: var(--color-active-background);
  color: var(--color-light) !important;
  box-shadow: 0px 0px 5px var(--color-active-background);
}

.navbar__link:hover {
  background-color: var(--color-active-background);
  color: var(--color-light);
  box-shadow: 0px 0px 5px var(--color-active-background);
}

/* MAIN VIEW */
.main-view {
  margin-left: 120px;
  width: 100%;
}

/* MAIN VIEW TOP SECTION */
.main-view__top-section {
  max-height: 50px;
  padding-left: 40px;
  padding-top: 30px;
  overflow: visible;
}

/* SEARCHBAR */
.searchbar {
  width: 450px;
}

.searchbar__input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  background-color: var(--color-main-light);
  color: var(--color-light);
  transition: all 0.3s;
}

.searchbar__input:focus {
  outline: none;
  background-color: var(--color-focus);
}

.searchbar__input:hover {
  background-color: var(--color-focus);
}

.searchbar__input::placeholder {
  color: var(--color-light);
}

/* GAME PREVIEW LIST */
.preliminary-game-results {
  background-color: var(--color-dark);
  margin-top: 15px;
  border-radius: 15px;
  width: 490px;
  height: fit-content;
  position: absolute;
  transition: all var(--animation-speed);
  z-index: 10;
}

.preliminary-game-results__list {
  margin: 0px;
  list-style: none;
  height: fit-content;
  padding: 0px 10px;
}

.preliminary-game-result {
  margin: 10px 0px;
}
.preliminary-game-result:first-child {
  margin-top: 15px;
}
.preliminary-game-result:last-child {
  margin-bottom: 15px;
}

.preliminary-game-result a {
  text-decoration: none;
  color: var(--color-medium);
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px;
  transition: all var(--animation-speed);
}

.preliminary-game-result a:hover {
  color: var(--color-light);
}

.preliminary-game-result__title {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
}

.preliminary-game-result__image-container {
  min-width: 40px;
  max-width: 40px;
  height: 60px;
  border-radius: 5px;
  overflow: hidden;
}

.preliminary-game-result__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* LOADING SPINNER */
.loading-spinner-container {
  width: 100%;
  height: 100px;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.loading-spinner::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px var(--color-medium);
  border-bottom-color: var(--color-light);
  border-radius: 50%;
  content: '';
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

/* ERROR MESSAGE */
.error {
  width: 100%;
  height: 100px;
  color: var(--color-light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error__icon {
  margin-right: 10px;
  font-size: 3rem;
}

.error__message {
  font-size: 1.3rem;
}

/* MAIN VIEW BOTTOM SECTION */
.main-view__bottom-section {
  max-width: 100%;
}

/* GAME RESULTS LIST */
.game-results-list {
  /* background-color: #1b54ff; */
  /* width: 100%; */
  margin: 50px 40px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

/* GAME RESULT CARD */
.result-card {
  height: 300px;
  padding: 0px 15px;
  border-radius: 15px;
  background-color: var(--color-main-light);
  transition: all var(--animation-speed);
}

.result-card:hover {
  transform: scale(1.02);
}

.result-card a {
  text-decoration: none;
}

.result-card__title {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-light);
  text-decoration: none;
  transition: all 0.3s;
}
.result-card__title:hover {
  color: var(--color-medium);
}

.result-card__options {
  margin: 10px 0px;
}

.result-card__options .btn {
  width: fit-content;
  height: 25px;
  background-color: var(--color-main);
  color: var(--color-light);
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
  padding: 2px 5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.result-card__options .btn:hover {
  cursor: pointer;
  background-color: var(--color-active-background);
}

.btn__add-to-library {
  margin-right: 10px;
}

.result-card__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
  user-select: none;
}

.result-card__row:last-child {
  border-top: 1px solid var(--color-focus);
}
.result-card__row:first-child {
  border-top: none;
}

.result-card__row--value {
  color: var(--color-light);
}

.result-card__row--field {
  color: var(--color-focus);
}
